body {
  padding: 10px;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;

  border-radius: 50%;
}

.user {
  display: flex;
  margin-top: 3rem;
  margin-left: 20rem;
}

.add {
  border-radius: 50%;
  background-color: darkgreen;
  color: white;
  font-weight: bold;
}

.userf {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.userf1 {
  padding: 10px;
  border-radius: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 1rem;
}
h1 {
  text-align: center;
}
.textinput {
  text-align: center;
  margin-right: 20rem;
  margin-left: 20rem;
}

#userfound {
  text-align: center;
  margin-right: 5rem;
  margin-left: 5rem;
}

#estatistica {
  text-align: center;
  margin-right: 15rem;
  margin-left: 5rem;
}

button {
  display: block;
}
body {
  padding: 10px;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;

  border-radius: 50%;
}

.userg {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
}
